* {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

h1, h2 {
  padding-top: 20px;
  padding-bottom: 10px;
  margin: 0;
  
}

li {
  text-align: center;
}


label {
  margin-top: 20px;
}

button {
    background-color: #0ead85;
    border: none;
    color: white;
    padding: 9px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: auto;
    margin-top: -5px;
    border-radius: 80px;
}

button:hover {
  background-color: #0ac752;
  border: none;
  color: white;
  padding: 9px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 80px;
}

.delete {
  margin-left: 30px;
  margin-top: 10px;
}

.edit {
  margin-left: 30px;
  margin-top: 10px;
}